/* Healthlane Academy - selbst gehostete Schriften.
   Designhandbuch 4.2 MUSS: nicht ueber Google-Server einbinden.
   Erzeugt von werkzeuge/schriften-holen.sh - nicht von Hand aendern.
   Cormorant Garamond, Lato, LXGW WenKai: SIL Open Font License. */

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtFmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtMmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtHmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtGmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtImSqn7B6D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtFmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtMmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtHmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtGmSqn7B6DxjY.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3ZmX5slCNuHLi8bLeY9MK7whWMhyjYrEtImSqn7B6D.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06KnnOitk9IfqxUYT9.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06KnDOitk9IfqxUYT9.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06KnvOitk9IfqxUYT9.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06KnrOitk9IfqxUYT9.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(cormorant-co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06KnTOitk9IfqxUQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(lato-S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(lato-S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(lato-S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(lato-S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(lato-S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(lato-S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(lato-S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(lato-S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'LXGW WenKai TC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(kaiti-subset.woff2) format('woff2');
  unicode-range: U+4e09-4e0b, U+4e0d-4e0e, U+4e18, U+4e2d, U+4e30, U+4e39-4e3b, U+4e4b, U+4e8c, U+4e8e-4e8f, U+4e91, U+4e94, U+4ea2, U+4ea4, U+4eac, U+4ed1, U+4ed3, U+4efb, U+4f1a, U+4f20, U+4f38, U+4f53, U+4fa0, U+4fde, U+504f, U+5143, U+5151, U+516c-516d, U+5173, U+5176, U+517b, U+5185, U+51b2, U+51dd, U+5217, U+522b, U+524d, U+529f, U+5305, U+5316, U+5347, U+534e, U+5370, U+5386, U+5389, U+53a5, U+53d1, U+53d7, U+53f8, U+5408, U+540e, U+542c, U+5438, U+5468, U+547c-547d, U+54bd, U+5546, U+56db, U+56f0, U+571f, U+5728, U+5730, U+5782, U+5802, U+58c5, U+590d, U+5927, U+5929-592a, U+5934, U+5939, U+59d4, U+5b54, U+5b57, U+5b59, U+5b97, U+5b9e, U+5ba3, U+5bab, U+5bbe, U+5bd2, U+5bfc, U+5c01, U+5c0f, U+5c11, U+5c3a, U+5c3f, U+5c55, U+5c71, U+5de8, U+5e72, U+5e7d, U+5e9c, U+5ead, U+5eca, U+5f00, U+5f3a, U+5fc3, U+5fd7, U+610f, U+624b, U+626c, U+6276, U+627f, U+6392, U+642d, U+6512, U+652f, U+6606, U+660e, U+66f2, U+6700, U+6728, U+672c, U+673a, U+675f, U+677c, U+677e, U+6781, U+6795, U+679c, U+67a2, U+67f1, U+6865, U+6881, U+690e, U+6a2a, U+6b21, U+6b63, U+6b65, U+6bdb, U+6c14, U+6c34, U+6c57, U+6c60, U+6cc9, U+6ccc, U+6cdb, U+6ce3, U+6cfd, U+6d25, U+6d4a, U+6d77, U+6d8c, U+6db2, U+6e05, U+6e0a, U+6e20, U+6e29, U+6e7f, U+6e9c, U+6eaa, U+6ede, U+706b, U+7075, U+708e, U+70ed, U+7126, U+7136, U+7167, U+719f, U+71e5, U+7269, U+728a, U+72af, U+7389, U+7391, U+7487, U+751f, U+7530, U+7533, U+75db, U+75f0, U+7600, U+767d, U+76ae, U+76c6, U+76db, U+76ee, U+76f8, U+775b, U+7763, U+795e, U+7a74, U+7a81, U+7a8d, U+7af9, U+7b51, U+7c95, U+7cbe, U+7cdf, U+7eb3, U+7ecf, U+7edc, U+7edf, U+7ef4, U+7f3a, U+8001, U+8033, U+804b, U+8083, U+8089, U+808c, U+8093, U+809b, U+809d, U+80a0, U+80a2, U+80a9, U+80ba, U+80be, U+80c3, U+80c6, U+80cc, U+80f1, U+8109-810a, U+8110-8111, U+8118, U+813e, U+8150, U+8155, U+8170, U+8180, U+8188, U+818f, U+819d, U+81bb, U+81f3, U+820c, U+8574, U+85cf, U+865a, U+8840, U+884c, U+8868, U+89e3, U+8bc0-8bc1, U+8c03, U+8c37, U+8d1e, U+8d2e, U+8db3, U+8f66, U+8f6f, U+8fce, U+8fd0, U+8ff7, U+901a, U+9053, U+90c4, U+90fd, U+9178, U+91cc, U+91d1, U+949f, U+957f, U+95e8, U+95f4, U+9619, U+9633-9634, U+963b, U+9645, U+964d, U+9675, U+9677, U+9686, U+9690, U+9752, U+9762, U+9876, U+988a, U+98a7, U+98ce, U+98de-98df, U+9999, U+9aa8, U+9ac3, U+9ace, U+9ad3, U+9b42, U+9b44, U+9c7c, U+9e23, U+9e64, U+9f3b;
}
